/* You can add global styles to this file, and also import other style files */
/* ESTILO GLOBAL CON TU PALETA: ROJO, NEGRO Y BLANCO */
body {
  background-color: #111;   /* NEGRO DE FONDO */
  color: #fff;              /* TEXTO BLANCO */
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
  color: #dc3545;  /* ROJO BOOTSTRAP */
}

/* NAVBAR PERSONALIZADO */
.navbar {
  border: 2px solid #dc3545; /* BORDE ROJO */
}

/* LINKS EN EL NAVBAR */
.nav-link {
  transition: color 0.3s;
}
.nav-link:hover {
  color: #e6979f !important; /* HOVER ROJO */
}

/* BOTONES */
.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  background-color: #dc3545;
  color: #fff;
}
